.fr-code { 
  
  position: relative; 

  pre[class*=language-] { padding: 4em 1em 1em 1em; }

  .copy-code-button {

    display: inline-flex;
    align-items: center;

    position: absolute;
    top: 10px;
    left: 10px;

    /* Icons */
    &::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      
      /* Utilisation du masque pour l'icône */
      -webkit-mask-image: url('../svg/copy.svg');
      mask-image: url('../svg/copy.svg');
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center;
      mask-position: center;

      background-color: var(--text-inverted-blue-france);
    }
  }
}