hr.end {
  width: 10%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(0deg, var(--background-action-high-blue-france), var(--background-action-high-blue-france));
  background-size: 100% 8px;
}