{# Link #}
{# ---------------------------------------------------------------------------------------------------------------------------------------- #}

{% set link = dsfr_link({'text': 'DSFR components', 'url': content.dsfr_components, 'target': 'ext'}, {}, true) %}
{% set ln_front = "path('" ~ chevron('front') ~ "')" %}

{% set dc = {'text': 'Text is mandatory.', 'color': 'blue-cumulus', 'icon': 'warning-line' } %}
{{ dsfr_callout( dc, ['fr-mb-1v'], true ) }}

{% set code = comment_twig('The href attribute defaults to “#”.') ~ '
' ~ braces( "dsfr_link( {'text': '" ~ content.label ~ "'} )" ) %}
{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{{ dsfr_link( {'text': 'Label' } ) }}

{# ======================================================================================================================================== #}

<h2 class="fr-mt-10v" id="options">{{ 'More options'|t }}</h2>

{% set code = comment_twig('Relative url') ~ '
' ~ var_twig("dc = {" ~ '
' ~ "'text': 'Relative link with an arrow'," ~ '
' ~ "'url': " ~ ln_front ~ "," ~ '
' ~ "'arrow': true}") ~ '
' ~ braces("dsfr_link(dc)") ~ '
' ~ chevron('br /') ~ '
' ~ comment_twig('Absolute url') ~ '
' ~ var_twig("absolute_link = url('" ~ chevron('front') ~ "')") ~ '
' ~ var_twig("dc = {" ~ '
' ~ "'text': 'Absolute link with an arrow'," ~ '
' ~ "'url': absolute_link['#markup']," ~ '
' ~ "'arrow': true," ~ '
' ~ "'right': true}") ~ '
' ~ braces("dsfr_link(dc)") %}
{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{% set dc = {
  'text': "Relative link with an arrow",
  'url' : path('<front>'), 
  'arrow': true
}%}
{{ dsfr_link( dc ) }}
<br />
{% set absolute_link = url('<front>') %}
{% set dc = {
  'text': "Absolute link with an arrow on the right",
  'url' : absolute_link['#markup'], 
  'arrow': true,
  'right': true
}%}
{{ dsfr_link( dc ) }}

<h3 class="fr-mt-5v">{{ 'External link' }}</h3>

{% set code = var_twig("dc = {" ~ '
' ~ "'text': 'Enable external link'," ~ '
' ~ "'url': '" ~ content.dsfr_url ~ "'," ~ '
' ~ "'ext': true}") ~ '
' ~ braces("dsfr_link(dc)") ~ '
' ~ chevron('br /') ~ '
' ~ comment_twig('Autodetection of link target') ~ '
' ~ var_twig("dc = {" ~ '
' ~ "'text': 'Target of autodetected link'," ~ '
' ~ "'url': '" ~ content.dsfr_url ~ "' }") ~ '
' ~ braces("dsfr_link(dc)") ~ '
' ~ chevron('br /') ~ '
' ~ comment_twig('Disable link target autodetection') ~ '
' ~ comment_twig('Link targets with “#” or “/” values are not checked') ~ '
' ~ var_twig("dc = {" ~ '
' ~ "'text': 'Disable link target autodetection'," ~ '
' ~ "'url': '" ~ content.dsfr_url ~ "'," ~ '
' ~ "'check': false }") ~ '
' ~ braces("dsfr_link(dc)") %}
{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{% set dc = {
'text': 'Enable external link',
'url': 'https://www.systeme-de-design.gouv.fr/',
'ext': true} %}
{{ dsfr_link(dc) }}
<br />
{# Autodetection of link target #}
{% set dc = {
'text': 'Target of autodetected link',
'url': 'https://www.systeme-de-design.gouv.fr/' } %}
{{ dsfr_link(dc) }}
<br />
{# Disable link target autodetection #}
{# Link targets with “#” or “/” values are not checked #}
{% set dc = {
'text': 'Disable link target autodetection',
'url': 'https://www.systeme-de-design.gouv.fr/',
'check': false } %}
{{ dsfr_link(dc) }}

<h3 class="fr-mt-8v">{{ 'Managing the types of links returned by Drupal' }}</h3>

{# {{ 'In a link form, the target value can also be “<nolink>” and “<button>”.'|t }} #}

{% set code = comment_twig('When the url is an object') ~ '
' ~ comment_twig('the object returns the target value') ~ '
' ~ comment_twig('WARNING : field_link is just an example!') ~ '
' ~ var_twig("dc = { 'text': field_link['#title'] }") ~ '
' ~ var_twig("dc = data|merge({ 'url': field_link['#url'] })") ~ '
' ~ braces("dsfr_link(dc)") %}
{{ c_code(code) }}

{% set code = comment_twig('Simulation') ~ '
' ~ comment_twig('If target value is “' ~ chevron('nolink') ~ '”') ~ '
' ~ braces("dsfr_link({'text': 'There is no link!', 'type': 'text'})") ~ '
' ~ comment_twig('If target value is “' ~ chevron('button') ~ '”') ~ '
' ~ braces("dsfr_link({'text': 'Link button (with href)', 'type': 'button'}, ['fr-ml-5v', 'fr-mr-5v'])") ~ '
' ~ comment_twig('If target value is “' ~ chevron('button') ~ '” (like dsfr_button())') ~ '
' ~ braces("dsfr_link({'text': 'REAL button (with no href)', 'type': 'real_button'})") %}
{{ c_code(code) }}
<h3 class="fr-h4">{{ 'Returns for text only and buttons:'|t }}</h3>

{# Simulation #}
{# If target value is “<nolink>” #}
{{ dsfr_link({'text': 'There is no link!', 'type': 'text'}) }}
{# If target value is “<button>” #}
{{ dsfr_link({'text': 'Link button (with href)', 'type': 'button'}, ['fr-ml-5v', 'fr-mr-5v']) }}
{# If target value is “<button>” #}
{{ dsfr_link({'text': 'REAL button (with no href)', 'type': 'real_button'}) }}

<h3 class="fr-mt-8v">{{ 'Title attribute' }}</h3>

{% set code = var_twig("dc = {" ~ '
' ~ "'text': 'Link with custom title'," ~ '
' ~ "'url': " ~ ln_front ~ "," ~ '
' ~ "'title': 'Custom TITLE'}") ~ '
' ~ braces("dsfr_link(dc)") ~ '
' ~ chevron('br /') ~ '
' ~ comment_twig('Automatic text copying') ~ '
' ~ var_twig("dc = {" ~ '
' ~ "'text': 'Link title and label are identical'," ~ '
' ~ "'url': " ~ ln_front ~ "," ~ '
' ~ "'title': true}") ~ '
' ~ braces("dsfr_link(dc)") %}
{{ c_code(code) }}
<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>

{% set dc = {
'text': 'Link with custom title',
'url': path('<front>'),
'title': 'Custom TITLE'} %}
{{ dsfr_link(dc) }}
<br />
{# Automatic text copying #}
{% set dc = {
'text': 'Link title and label are identical',
'url': path('<front>'),
'title': true} %}
{{ dsfr_link(dc) }}

<h3 class="fr-mt-8v">{{ 'Link size' }}</h3>

{% set code = var_twig("dc = {" ~ '
' ~ "'text': 'The link is smaller'," ~ '
' ~ "'url': " ~ ln_front ~ "," ~ '
' ~ "'sm': true}") ~ '
' ~ braces("dsfr_link(dc)") ~ '
' ~ chevron('br /') ~ '
' ~ var_twig("dc = {" ~ '
' ~ "'text': 'The link is bigger'," ~ '
' ~ "'url': " ~ ln_front ~ "," ~ '
' ~ "'lg': true}") ~ '
' ~ braces("dsfr_link(dc)") %}
{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{% set dc = {
'text': 'The link is smaller',
'url': path('<front>'),
'sm': true} %}
{{ dsfr_link(dc) }}
<br />
{% set dc = {
'text': 'The link is bigger',
'url': path('<front>'),
'lg': true} %}
{{ dsfr_link(dc) }}