{# Callout #}
{# ---------------------------------------------------------------------------------------------------------------------------------------- #}

{% set dc = {'text': 'Text is mandatory.', 'color': 'blue-cumulus', 'icon': 'warning-line' } %}
{{ dsfr_callout( dc, ['fr-mb-1v'], true ) }}

{% set code = braces( "dsfr_callout( {'text': '" ~ content.lorem ~ "'} )" ) %}
{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{{ dsfr_callout( {'text': content.text } ) }}

{# ======================================================================================================================================== #}

<h2 class="fr-mt-10v" id="options">{{ 'More options'|t }}</h2>

{% set name = chevron('name') %}
{% set message = 'The callout component is smaller, the type is equal to success and the close button has disappeared.'|t %}
{% set code = var_twig("dc = {" ~ '
' ~ "'title': 'Title'," ~ '
' ~ "'text': '" ~ message ~ "'," ~ '
' ~ "'color': 'green-bourgeon'," ~ ' 
' ~ "'icon': 'leaf-fill' }") ~ '
' ~ comment_twig('"fr-icon-" is optional but it\'s possible "fr-icon-' ~ name ~ '"') ~ '
' ~ braces("dsfr_callout(dc)") %}

{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>

{% set dc = {
  'title': 'Title',
  'text': message,
  'color': 'green-bourgeon',
  'icon': 'leaf-fill'
}%}
{{ dsfr_callout( dc ) }}

<p><strong>{{ 'Available colors:'|t }}</strong> {{ content.color }}</p>
<p>
  <span class="fr-icon-book-2-line fr-mr-1v"></span>
  See: <a href="{{ path('dsfr_twig_components.icons') }}">{{ 'available icons'|t }}</a>
</p>

<h3>{{ 'No icon' }}</h3>

{% set code = var_twig("dc = {" ~ '
' ~ "'text': '" ~ message ~ "'," ~ '
' ~ "'noicon': true }") ~ '
' ~ braces("dsfr_callout(dc)") %}

{{ c_code(code) }}
<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{% set dc = {
  'text': message,
  'noicon': true
}%}
{{ dsfr_callout( dc ) }}

<h3>{{ 'With button' }}</h3>

{% set code = var_twig("button = dsfr_button({'text': 'Label button'})") ~ '
' ~ comment_twig("dsfr_link({'text': 'Label button', 'type': 'button', 'url': [...]}) can also work, but is not recommended") ~ '
' ~ var_twig("dc = {" ~ '
' ~ "'text': '" ~ message ~ "'," ~ '
' ~ "'button': button }") ~ '
' ~ braces("dsfr_callout(dc)") %}
{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{% set button = dsfr_button({'text': 'Label button'}) %}
{# {% set button = dsfr_link({'text': 'Label button', 'type': 'button', 'url': '#'} ) %} #}
{% set dc = {
  'text': message,
  'button': button
}%}
{{ dsfr_callout( dc ) }}
