<ol>
  <li>{{ 'a <strong>DATA</strong> and <strong>CONFIGURATION</strong> section (mandatory, always in an associative array).'|t }}</li>
  <li>{{ 'an <strong>ATTRIBUTES</strong> section (<strong>optional</strong>, always in a simple or associative array).'|t }} </li>
</ol>

{% set name = chevron('component_name') %}
{% set content = 
comment_twig ('Structure: ' ~ braces( content.prefix ~ name ~ content.arg )) ~ '
' ~ comment_twig ('Example:') ~ '
' ~ braces( content.prefix ~ "badge( {'text': 'Label'}, {'id': 'custom-id', 'class': " ~ content.m_array ~ "} )") ~ '
' ~ comment_twig('If the attribute contains only classes:') ~ '
' ~ braces( content.prefix ~ "badge( {'text': 'Label'}, " ~ content.m_array ~ " )") 
%}
{{ c_code( content ) }}