{# Card #}
{# ---------------------------------------------------------------------------------------------------------------------------------------- #}

{% set ln_front = "path('" ~ chevron('front') ~ "')" %}

{% set dc = {'text': 'Title is mandatory.', 'color': 'blue-cumulus', 'icon': 'warning-line' } %}
{{ dsfr_callout( dc, ['fr-mb-1v'], true ) }}

{% set code = comment_twig("The card must always be part of a collection.") ~ '
' ~ comment_twig("However, the “one” variable allows you to view it uniquely.") ~ '
' ~ var_twig("dc = {" ~ '
' ~ "'title': 'Title'," ~ '
' ~ "'url': " ~ ln_front ~ "," ~ '
' ~ "'text': '" ~ content.lorem ~ "'," ~ '
' ~ "'img': 'https://www.systeme-de-design.gouv.fr/img/placeholder.16x9.png', " ~ '
' ~ "'one': true }") ~ '
' ~ braces("dsfr_card(dc)") %}
{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>

{% set dc = {
'title': 'Title',
'url': path('<front>'),
'text': '<strong>Lorem ipsum</strong> dolor sit amet.',
'img': 'https://www.systeme-de-design.gouv.fr/img/placeholder.16x9.png', 
'one': true } %}
{{ dsfr_card(dc) }}