{# Tag #}
{# ---------------------------------------------------------------------------------------------------------------------------------------- #}

{% set link = dsfr_link({'text': 'DSFR components', 'url': content.dsfr_components, 'target': 'ext'}, {}, true) %}
{% set ln_front = "path('" ~ chevron('front') ~ "')" %}

{% set dc = {'text': 'Text is mandatory.', 'color': 'blue-cumulus', 'icon': 'warning-line' } %}
{{ dsfr_callout( dc, ['fr-mb-1v'], true ) }}

{% set code = braces( "dsfr_tag( {'text': '" ~ content.label ~ "'} )" ) %}
{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{{ dsfr_tag( {'text': 'Label' } ) }}

{# ======================================================================================================================================== #}

<h2 class="fr-mt-10v" id="options">{{ 'More options'|t }}</h2>

{% set code = var_twig("dc = {" ~ '
' ~ "'text': '" ~ content.label ~ " is a link with an arrow'," ~ '
' ~ "'url': " ~ ln_front ~ "," ~ '
' ~ "'arrow': true}") ~ '
' ~ braces("dsfr_tag(dc)") %}
{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{% set dc = {
  'text': content.label ~ " with an arrow",
  'url' : path('<front>'), 
  'arrow': true
}%}
{{ dsfr_tag( dc ) }}

<h3 class="fr-mt-8v">{{ 'Clickable:'|t }}</h3>

{% set code = braces("dsfr_tag({'text': 'Clickable " ~ content.label ~ "', 'pressed': true ) })") %}
{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{% set dc = {
  'text': 'Clickable ' ~ content.label,
  'pressed': true
}%}
{{ dsfr_tag( dc ) }}

<h3 class="fr-mt-8v">{{ 'Closable:'|t }}</h3>

{% set code = braces("dsfr_tag({'text': 'Closable " ~ content.label ~ "', 'close': true ) })") %}
{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{% set dc = {
  'text': 'Closable ' ~ content.label,
  'close': true
}%}
{{ dsfr_tag( dc ) }}

<h2 class="fr-mt-10v">{{ 'Tags (group)'|t }}</h2>

{% set code = var_twig( "tag1 = dsfr_tag( {'text': '" ~ content.label ~ " 1', 'close': true } )" ) ~ '
' ~ var_twig( "tag2 = dsfr_tag( {'text': '" ~ content.label ~ " 2', 'close': true } )" ) ~ '
' ~ var_twig( "tag3 = dsfr_tag( {'text': '" ~ content.label ~ " 3', 'close': true } )" ) ~ '
' ~ var_twig( "tag4 = dsfr_tag( {'text': '" ~ content.label ~ " 4', 'close': true } )" ) ~ '
' ~ braces( "dsfr_tags({'group': [ tag1, tag2, tag3, tag4 ] }) " ) %}
{{ c_code(code) }}

{% set tag1 = dsfr_tag( {'text': content.label ~ ' 1', 'close': true } ) %}
{% set tag2 = dsfr_tag( {'text': content.label ~ ' 2', 'close': true } ) %}
{% set tag3 = dsfr_tag( {'text': content.label ~ ' 3', 'close': true } ) %}
{% set tag4 = dsfr_tag( {'text': content.label ~ ' 4', 'close': true } ) %}

{{ dsfr_tags( {'group': [ tag1, tag2, tag3, tag4 ] } ) }}