{# Quote #}
{# ---------------------------------------------------------------------------------------------------------------------------------------- #}

{% set dc = {'text': 'Text is mandatory.', 'color': 'blue-cumulus', 'icon': 'warning-line' } %}
{{ dsfr_callout( dc, ['fr-mb-1v'], true ) }}

{% set code = braces( "dsfr_quote( {'text': '" ~ content.lorem ~ "'} )" ) %}
{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{{ dsfr_quote( {'text': content.text } ) }}

{# ======================================================================================================================================== #}

<h2 class="fr-mt-10v" id="options">{{ 'More options'|t }}</h2>

{% set code = var_twig("dc = {" ~ '
' ~ "'img': '" ~ content.dsfr_url ~ "img/placeholder.1x1.png'," ~ '
' ~ "'text': '" ~ content.lorem ~ "'," ~ '
' ~ "'author': 'John Doe'," ~ '
' ~ "'cite': '" ~ content.dsfr_url ~ "'," ~ '
' ~ "'color': 'green-bourgeon '}") ~ ' 
' ~ braces("dsfr_quote(dc)") %}
{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{% set dc = {
  'img': content.dsfr_url ~ 'img/placeholder.1x1.png',
  'text': content.text,
  'cite': content.dsfr_url,
  'color': 'green-bourgeon',
  'author': 'John Doe'
}%}
{{ dsfr_quote( dc ) }}

<p class="fr-mt-12v"><strong>{{ 'Available colors:'|t }}</strong> {{ content.color }}</p>

<h2 class="fr-mt-10v" id="options">{{ 'With details (source)'|t }}</h2>

{% set code = var_twig("details = [" ~ '
' ~ "{'text': 'Detail-1'}," ~ '
' ~ "{'text': 'Detail-2'}," ~ '
' ~ "{'text': 'Detail-3', 'url': '" ~ content.dsfr_url ~ "'}" ~ '
' ~ "]") ~ ' 
' ~ var_twig("dc = {" ~ '
' ~ "'text': '" ~ content.lorem ~ "'," ~ '
' ~ "'author': 'John Doe'," ~ '
' ~ "'details': details } ") ~ ' 
' ~ braces("dsfr_quote(dc)") %}
{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{% set details = [
{'text': 'Detail-1'},
{'text': 'Detail-2'},
{'text': 'Detail-3', 'url': content.dsfr_url}
] %} 
{% set dc = {
'text': '<strong>Lorem ipsum</strong> dolor sit amet.',
'author': 'John Doe',
'details': details }  %} 

{{ dsfr_quote(dc) }}