{# Alert #}
{# ---------------------------------------------------------------------------------------------------------------------------------------- #}

{% set dc = {'text': 'Title is mandatory on the MD version (normal). Text is mandatory on the SM version (small).', 'color': 'blue-cumulus', 'icon': 'warning-line' } %}
{{ dsfr_callout( dc, ['fr-mb-1v'], true ) }}

{% set code = var_twig( "text = '" ~ content.lorem ~ "'" ) ~ '
' ~ braces( "dsfr_alert( {'title':'Title', 'text': text} )" ) %}
{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{{ dsfr_alert( {'title': 'Title', 'text': content.text } ) }}

{# ======================================================================================================================================== #}

<h2 class="fr-mt-10v" id="options">{{ 'More options'|t }}</h2>

{% set message = 'The alert component is smaller, the type is equal to success and the close button has disappeared.'|t %}
{% set code = var_twig("dc = {" ~ '
' ~ "'text': '" ~ message ~ "'," ~ '
' ~ "'type': 'success'," ~ ' 
' ~ "'sm': true," ~ '
' ~ "'close': false }") ~ '
' ~ braces("dsfr_alert(dc)") %}

{{ c_code(code) }}
<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{% set dc = {
  'text': message,
  'type': 'success',
  'sm': true,
  'close': false
}%}
{{ dsfr_alert( dc ) }}

<p class="fr-mt-8v"><strong>{{ 'Available type:'|t }}</strong> error, info, success, warning.</p>
