{# Button #}
{# ---------------------------------------------------------------------------------------------------------------------------------------- #}

{% set dc = {'text': 'Text is mandatory.', 'color': 'blue-cumulus', 'icon': 'warning-line' } %}
{{ dsfr_callout( dc, ['fr-mb-1v'], true ) }}

{% set code = braces( "dsfr_button( {'text': '" ~ content.label ~ "'}, { 'id': 'custom-id' } )" ) %}
{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{{ dsfr_button( {'text': content.label }, { 'id': 'custom-id' } ) }}

{# ======================================================================================================================================== #}

<h2 class="fr-mt-10v" id="options">{{ 'More options'|t }}</h2>

<div>
  {% set code = braces("dsfr_button({'text': '" ~ content.label ~ "', 'type': 'secondary' }, ['fr-mr-3v'])") ~ '
' ~ braces("dsfr_button({'text': '" ~ content.label ~ "', 'type': 'tertiary' }, ['fr-mr-3v'])") ~ '
' ~ comment_twig("You can use 'no-outline' or 'tertiary-no-outline' for the same result") ~ '
' ~ braces("dsfr_button({'text': '" ~ content.label ~ "', 'type': 'no-outline' }, ['fr-mr-3v'])") ~ '
' ~ braces("dsfr_button({'text': '" ~ content.label ~ "', 'type': 'tertiary-no-outline' })") %}
  {{ c_code(code) }}

  <h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
  {{ dsfr_button( { 'text': content.label, 'type': 'secondary' }, ['fr-mr-3v'] ) }}
  {{ dsfr_button( { 'text': content.label, 'type': 'tertiary' }, ['fr-mr-3v'] ) }}
  {{ dsfr_button( { 'text': content.label, 'type': 'no-outline' }, ['fr-mr-3v'] ) }}
  {{ dsfr_button( { 'text': content.label, 'type': 'tertiary-no-outline' } ) }}
</div>

<h3 class="fr-mt-8v">{{ 'Disabled button' }}</h3>
<div>
  {% set code = braces("dsfr_button({'text': '" ~ content.label ~ "', 'disabled': true }") %}
  {{ c_code(code) }}

  <h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
  {% set dc = {
    'text': content.label,
    'disabled': true
  }%}
  {{ dsfr_button( dc ) }}
</div>

<h3 class="fr-mt-8v">{{ 'With icons only' }}</h3>
<div>
{% set code = braces("dsfr_button({'text': '" ~ content.label ~ "', 'icon': true }, ['fr-mr-3v'])") ~ '
' ~ comment_twig("'fr-icon' is optional") ~ '
' ~ braces("dsfr_button({'text': '" ~ content.label ~ "', 'icon': 'play-circle-line' }, ['fr-mr-3v'])") ~ '
' ~ braces("dsfr_button({'text': '" ~ content.label ~ "', 'icon': 'fr-icon-play-circle-line', 'type': 'secondary' })") %}
{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{{ dsfr_button( { 'text': content.label, 'icon': true  }, ['fr-mr-3v'] ) }}
{{ dsfr_button( { 'text': content.label, 'icon': 'play-circle-line'}) }}
{{ dsfr_button( { 'text': content.label, 'icon': 'fr-icon-play-circle-line', 'type': 'secondary'}) }}

<p class="fr-mt-5v">
  <span class="fr-icon-book-2-line fr-mr-1v"></span>
  See: <a href="{{ path('dsfr_twig_components.icons') }}">{{ 'available icons'|t }}</a>
</p>
</div>

<h3 class="fr-mt-8v">{{ 'With icons and text' }}</h3>
<div>
  {% set code = braces("dsfr_button({'text': '" ~ content.label ~ "', 'icon': true, 'left': true  }, ['fr-mb-5v'])") ~ '
' ~ braces("dsfr_button({'text': '" ~ content.label ~ "', 'icon': true, 'left': true, 'type': 'secondary' })") ~ ' 
' ~ chevron('br /') ~ '
' ~ braces("dsfr_button({'text': '" ~ content.label ~ "', 'icon': true, 'right': true })") ~ ' 
' ~ braces("dsfr_button({'text': '" ~ content.label ~ "', 'icon': true, 'right': true, 'type': 'secondary' })") %}
  {{ c_code(code) }}

  <h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
  {{ dsfr_button( { 'text': content.label, 'icon': true, 'left': true }, ['fr-mb-5v'] ) }}
  {{ dsfr_button( { 'text': content.label, 'icon': true, 'left': true, 'type': 'secondary'  } ) }}
  <br />
  {{ dsfr_button( { 'text': content.label, 'icon': true, 'right': true }) }}
  {{ dsfr_button( { 'text': content.label, 'icon': true, 'right': true, 'type': 'secondary' }) }}
</div>

{{ content.end|raw }}

<h2 class="fr-mt-8v">{{ 'Buttons (group)'|t }}</h2>
<div>
  {% set code = var_twig( "btn1 = dsfr_button( {'text': '" ~ content.label ~ "'} )" ) ~ '
' ~ var_twig( "btn2 = dsfr_button( {'text': '" ~ content.label ~ "', 'type': 'secondary' } )" ) ~ '
' ~ braces( "dsfr_buttons({ 'group': [ btn1, btn2 ] })" ) %}
  {{ c_code(code) }}

  <h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
  {% set btn1 = dsfr_button( {'text': content.label } ) %}
  {% set btn2 = dsfr_button( {'text': content.label, 'type': 'secondary' } ) %}
  {{ dsfr_buttons( { 'group': [ btn1, btn2 ] } ) }}

  {% set code = comment_twig("See the creation of each button above") ~ '
' ~ braces( "dsfr_buttons({ 'group': [ btn1, btn2 ] }, 'full-width': false )" ) ~ '
' ~ braces( "dsfr_buttons({ 'group': [ btn1, btn2 ] }, 'equisized': true )" ) %}
  {{ c_code(code) }}

  <h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
  {{ dsfr_buttons( { 'group': [ btn1, btn2 ], 'full-width': false } ) }}
  {{ dsfr_buttons( { 'group': [ btn1, btn2 ], 'equisized': true } ) }}

  <h2 class="fr-mt-8v" id="options">{{ 'More options for buttons (group)'|t }}</h2>

  {% set code = comment_twig("See the creation of each button above") ~ '
' ~ braces( "dsfr_buttons({ 'group': [ btn1, btn2 ], 'inline': true })" ) ~ '
' ~ comment_twig("Horizontal mode applies from breakpoint 576px (SM), 768px (MD) and 992px (LG) ") ~ '
' ~ chevrons("Change screen size", 'p') ~ '
' ~ braces( "dsfr_buttons({ 'group': [ btn1, btn2 ], 'inline': true, 'sm': true })" ) ~ '
' ~ braces( "dsfr_buttons({ 'group': [ btn1, btn2 ], 'inline': true, 'md': true })" ) ~ '
' ~ braces( "dsfr_buttons({ 'group': [ btn1, btn2 ], 'inline': true, 'lg': true  )" ) %}
  {{ c_code(code) }}

  <h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
  {{ dsfr_buttons( { 'group': [ btn1, btn2 ], 'inline': true } ) }}
  <p>{{ 'Change screen size:'|t }}</p>
  {{ dsfr_buttons( { 'group': [ btn1, btn2 ], 'inline': true, 'sm': true } ) }}
  {{ dsfr_buttons( { 'group': [ btn1, btn2 ], 'inline': true, 'md': true } ) }}
  {{ dsfr_buttons( { 'group': [ btn1, btn2 ], 'inline': true, 'lg': true } ) }}

  {% set code = comment_twig("See the creation of each button above") ~ '
' ~ braces( "dsfr_buttons({ 'group': [ btn1, btn2 ], 'inline': true, 'left': true })" ) ~ '
' ~ braces( "dsfr_buttons({ 'group': [ btn1, btn2 ], 'inline': true, 'center': true })" ) ~ '
' ~ braces( "dsfr_buttons({ 'group': [ btn1, btn2 ], 'inline': true, 'right': true })" ) %}
  {{ c_code(code) }}

  <h3 class="fr-h4">{{ 'Returns:'|t }}</h3>  
  {{ dsfr_buttons( { 'group': [ btn1, btn2 ], 'inline': true, 'left': true } ) }}
  {{ dsfr_buttons( { 'group': [ btn1, btn2 ], 'inline': true, 'center': true } ) }}
  {{ dsfr_buttons( { 'group': [ btn1, btn2 ], 'inline': true, 'right': true } ) }}

</div>