{# Badge #}
{# ---------------------------------------------------------------------------------------------------------------------------------------- #}

{% set dc = {'text': 'Text is mandatory.', 'color': 'blue-cumulus', 'icon': 'warning-line' } %}
{{ dsfr_callout( dc, ['fr-mb-1v'], true ) }}

{% set code = braces( "dsfr_badge( {'text': '" ~ content.label ~ "'} )" ) %}
{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{{ dsfr_badge( {'text': content.label } ) }}

{# ======================================================================================================================================== #}

<h2 class="fr-mt-10v" id="options">{{ 'More options'|t }}</h2>

{% set newlabel = 'Smaller ' ~ content.label %}
{% set code = braces("dsfr_badge({'text': '" ~ newlabel ~ "', 'type': 'new', 'sm': true })") %}
{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{% set dc = {
  'text': newlabel,
  'type': 'new',
  'sm': true
}%}
{{ dsfr_badge( dc ) }}
<p class="fr-mt-8v"><strong>{{ 'Available type:'|t }}</strong> error, info, new, success, warning.</p>

<h3>{{ 'No icon, with color' }}</h3>

{% set code = var_twig("dc = {" ~ '
' ~ "'text': '" ~ content.label ~ "'," ~ '
' ~ "'type': 'new'," ~ ' 
' ~ "'color': 'green-bourgeon'," ~ ' 
' ~ "'noicon': true }") ~ '
' ~ braces("dsfr_badge(dc)") %}
{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{% set dc = {
  'text': content.label,
  'type': 'new',
  'color': 'green-bourgeon',
  'noicon': true
}%}
{{ dsfr_badge( dc ) }}

<p class="fr-mt-8v"><strong>{{ 'Available colors:'|t }}</strong> {{ content.color }}</p>

<h2 class="fr-mt-10v">{{ 'Badges (group)'|t }}</h2>

{% set code = var_twig( "badge1 = dsfr_badge( {'text': '" ~ content.label ~ "', 'type': 'new'} )" ) ~ '
' ~ var_twig( "badge2 = dsfr_badge( {'text': '" ~ content.label ~ "', 'type': 'success' } )" ) ~ '
' ~ braces( "dsfr_badges({'group': [ badge1, badge2 ] })" ) %}

{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{% set badge1 = dsfr_badge( {'text': content.label, 'type': 'new' } ) %}
{% set badge2 = dsfr_badge( {'text': content.label, 'type': 'success' } ) %}
{{ dsfr_badges({'group': [ badge1, badge2 ] }) }}
