{# Accordion #}
{# ---------------------------------------------------------------------------------------------------------------------------------------- #}

<h2>{{ 'Simple accordion'|t }}</h2>

{% set dc = {'text': 'Title and Text are mandatory.', 'color': 'blue-cumulus', 'icon': 'warning-line'} %}
{{ dsfr_callout( dc, ['fr-mb-1v'], true ) }}

{% set code = var_twig( "text = '" ~ content.lorem ~ "'" ) ~ '
' ~ braces( "dsfr_accordion( {'title':'Item', 'text': text} )" ) %}
{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{{ dsfr_accordion( {'title': 'Item', 'text': content.text } ) }}

{# ======================================================================================================================================== #}

<h2 class="fr-mt-10v">{{ 'Accordions (group)'|t }}</h2>

{% set code = var_twig( "text = '" ~ content.lorem ~ "'" ) ~ '
' ~ var_twig( "accordion1 = dsfr_accordion( {'title':'Item 1', 'text': text } )" ) ~ '
' ~ var_twig( "accordion2 = dsfr_accordion( {'title':'Item 2', 'text': text } )" ) ~ '
' ~ braces( "dsfr_accordions({'group': [ accordion1, accordion2 ] }) " ) %}
{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{% set accordion1 = dsfr_accordion( {'title': 'Item 1', 'text': content.text } ) %}
{% set accordion2 = dsfr_accordion( {'title': 'Item 2', 'text': content.text } ) %}

{{ dsfr_accordions( {'group': [ accordion1, accordion2 ] } ) }}