{# France-Connect button #}
{# ---------------------------------------------------------------------------------------------------------------------------------------- #}

{% set code = braces( "dsfr_franceconnect()" ) %}
{{ c_code(code) }}
<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{{ dsfr_franceconnect() }}

{# ======================================================================================================================================== #}

<h2 class="fr-mt-10v" id="options">{{ 'Option'|t }}</h2>

{% set code = braces( "dsfr_franceconnect( { 'plus': true } )" ) %}
{{ c_code(code) }}
<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>

{{ dsfr_franceconnect( { 'plus': true } ) }}