{# Search #}
{# ---------------------------------------------------------------------------------------------------------------------------------------- #}

{% set code = braces( "dsfr_search()" ) %}
{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{{ dsfr_search() }}