{# Highlight #}
{# ---------------------------------------------------------------------------------------------------------------------------------------- #}

{% set dc = {'text': 'Text is mandatory.', 'color': 'blue-cumulus', 'icon': 'warning-line' } %}
{{ dsfr_callout( dc, ['fr-mb-1v'], true ) }}

{% set code = braces( "dsfr_highlight( {'text': '" ~ content.lorem ~ "'} )" ) %}
{{ c_code(code) }}
<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>

{{ dsfr_highlight( {'text': content.text } ) }}

{# ======================================================================================================================================== #}

<h2 class="fr-mt-10v" id="options">{{ 'More options'|t }}</h2>

{% set name = chevron('name') %}
{% set message = 'The highlight component is smaller and the color has changed.'|t %}
{% set code = var_twig("text = '" ~ message ~ "'")  ~ '
' ~ braces("dsfr_highlight({'text': text, 'color': 'green-bourgeon', 'sm': true })") ~ '
' ~ braces("dsfr_highlight({'text': text, 'color': 'pink-macaron', 'lg': true })") %}
{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>

{% set dc = {
  'text': message,
  'color': 'green-bourgeon',
  'sm': true
}%}
{{ dsfr_highlight( dc ) }}
{% set dc = {
  'text': message,
  'color': 'pink-macaron',
  'lg': true
}%}
{{ dsfr_highlight( dc ) }}

<p><strong>{{ 'Available colors:'|t }}</strong> {{ content.color }}</p>