{# Title (pseudo component) #}
{# ---------------------------------------------------------------------------------------------------------------------------------------- #}

{% set dc = {'text': 'Title is mandatory.', 'color': 'blue-cumulus', 'icon': 'warning-line' } %}
{{ dsfr_callout( dc, ['fr-mb-1v'], true ) }}

{% set code = comment_twig("The default title is an h2 tag") ~ '
' ~ braces( "dsfr_title( {'title': 'My title is h2'} )" ) %}
{{ c_code(code) }}
<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>

{{ dsfr_title( {'title': 'My title is h2'} ) }}

{# ======================================================================================================================================== #}

<h2 class="fr-mt-10v" id="options">{{ 'More options'|t }}</h2>

{% set code = comment_twig("h3 (type 3), with fr-h1 (style 1)") ~ '
' ~ braces( "dsfr_title( {'title': 'My title is H3 (H1 size)', 'type': 3, 'style': 1 } )" ) %}
{{ c_code(code) }}
<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>

{{ dsfr_title( {'title': 'My title is h3 (H1 size)', 'type': 3, 'style': 1 } ) }}