{# Tooltip #}
{# ---------------------------------------------------------------------------------------------------------------------------------------- #}

{% set dc = {'text': 'Text is mandatory.', 'color': 'blue-cumulus', 'icon': 'warning-line' } %}
{{ dsfr_callout( dc, ['fr-mb-1v'], true ) }}

{% set code = braces( "dsfr_tooltip( {'text': '" ~ content.lorem ~ "'} )" ) %}
{{ c_code(code) }}

<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>
{{ dsfr_tooltip( {'text': content.text } ) }}


