{# Notice #}
{# ---------------------------------------------------------------------------------------------------------------------------------------- #}

{% set dc = {'text': 'Start, end and title are mandatory.', 'color': 'blue-cumulus', 'icon': 'warning-line' } %}
{{ dsfr_callout( dc, ['fr-mb-1v'], true ) }}

{% set code = comment_twig("This banner must be temporary. For this example, we'll make it permanent.") ~ '
' ~ comment_twig("Try with '2024-01-01 01:00:00'|date('U') + 31536000 seconds (about 1 year)") ~ '
' ~ var_twig("start = 'now'|date('U')") ~ '
' ~ braces( "dsfr_notice({ 'start': start, 'end': start + 60, 'title': 'Important' })" ) %}
{{ c_code(code) }}
<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>

{# This banner must be temporary. For this example, we'll make it permanent. #}
{% set start = 'now'|date('U') %}
{{ dsfr_notice({ 'start': start, 'end': start + 60, 'title': 'Important' }) }}

{# ======================================================================================================================================== #}

<h2 class="fr-mt-10v" id="options">{{ 'More options'|t }}</h2>

{% set code = var_twig("link = dsfr_link( { 'text': 'See more', 'url': '" ~ content.dsfr_url ~ "', 'ext': true } )") ~ '
' ~ var_twig("start = 'now'|date('U')") ~ '
' ~ var_twig("dc = {" ~ '
' ~ "'start': start," ~ '
' ~ "'end': start + 60," ~ '
' ~ "'title': 'Important:'," ~ '
' ~ "'text': '" ~ content.lorem ~ "'," ~ '
' ~ "'url': link," ~ '
' ~ "'type': 'warning'," ~ '
' ~ "'close': false }" ) ~ ' 
' ~ braces("dsfr_notice(dc)") %}
{{ c_code(code) }}
<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>

{% set link = dsfr_link( { 'text': 'See more', 'url': 'https://www.systeme-de-design.gouv.fr/', 'ext': true } ) %}
{% set start = 'now'|date('U') %}
{% set dc = {
'start': start,
'end': start + 60,
'title': 'Important:',
'text': '<strong>Lorem ipsum</strong> dolor sit amet.',
'url': link,
'type': 'warning',
'close': false } %} 
{{ dsfr_notice(dc) }}

<h3 class="fr-mt-10v" id="weather">{{ 'Weather'|t }}</h3>

{% set code = var_twig("start = 'now'|date('U')") ~ '
' ~ var_twig("dc = {" ~ '
' ~ "'start': start," ~ '
' ~ "'end': start + 60," ~ '
' ~ "'title': 'Vigilance météo orange'," ~ '
' ~ "'type': 'weather-orange' }" ) ~ ' 
' ~ braces("dsfr_notice(dc)") %}
{{ c_code(code) }}
<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>

{% set start = 'now'|date('U') %}
{% set dc = {
'start': start,
'end': start + 60,
'title': 'Vigilance météo orange',
'type': 'weather-orange' } %} 
{{ dsfr_notice(dc) }}

<p class="fr-mt-8v"><strong>{{ 'Available type:'|t }}</strong> weather-orange, weather-red, weather-purple.</p>

<h3 class="fr-mt-10v" id="alert">{{ 'Important alert'|t }}</h3>

{% set code = var_twig("start = 'now'|date('U')") ~ '
' ~ var_twig("dc = {" ~ '
' ~ "'start': start," ~ '
' ~ "'end': start + 60," ~ '
' ~ "'title': 'Attentat en cours'," ~ '
' ~ "'type': 'attack' }" ) ~ ' 
' ~ braces("dsfr_notice(dc)") %}
{{ c_code(code) }}
<h3 class="fr-h4">{{ 'Returns:'|t }}</h3>

{% set start = 'now'|date('U') %}
{% set dc = {
'start': start,
'end': start + 60,
'title': 'Attentat en cours',
'type': 'attack' } %} 
{{ dsfr_notice(dc) }}

<p class="fr-mt-8v"><strong>{{ 'Available type:'|t }}</strong> attack, cyberattack, witness ( = "appel à témoins").</p>