{{ attach_library('dsfr_twig_components/twig_components') }}

{% if slug == 'test' %}

  <h1>TEST Twig Functions</h1>

  {% set label  = content.label %}
  {% set text   = content.text %}
  {% set dc     = atix('Title', text) %}
  {% set variables = { 'title': 'Title', 'text': text, 'render': false } %}



  {# ============================================================================================= #}

{% else %}

  {% set title     = '' %}
  {% set menu      = '' %}
  {% set link      = path('dsfr_twig_components.demo') %}
  {% set c         = '' %}
  {% set c_slug    = '' %}
  {% set page      = '' %}
  {% set activated = { 'current': ' aria-current="page"', 'item': '  fr-sidemenu__item--active' } %}

  {% for key, row in sidemenu %}

    {% set active_btn = '' %}

    {% if row.type == 'link' and row.parent == '' %}

      {# update title #}
      {% if key == slug %}
        {% set title   = row.label|t %}
        {% set page    = key %}
        {% set require = true %}
        {% set c       = key == 'how' ? 'DSFR components'|t : key|t %}
        {% set c       = ' for '|t ~ c %}
        {% set c_slug  = row.slug %}
        {% set active = activated %}
      {% elseif key == 'home' and slug == '' %}
        {% set active = activated %}
      {% else %}
        {% set active = {} %}
      {% endif %}

      {% set item = '<a class="fr-sidemenu__link" href="' ~ link ~ '/' ~ row.url ~ '" target="_self"' ~ active.current ~ '>' ~ row.label ~ '</a>' %}
      {% set menu = menu ~ '<li class="fr-sidemenu__item' ~ active.item ~'">' ~ item ~ '</li>' %}

    {% elseif row.type == 'button' %}

      {% set subitem = '' %}  
      {% for subkey, subrow in submenu %}

        {% if subrow.parent == key %}
          {% if subkey == slug %}
            {% set title   = subrow.label|t %}
            {% set page    = subkey %}  
            {% set c       = ' for '|t ~ subkey|t %}
            {% set c_slug  = subrow.url %}
            {% set active  = { 'current': ' aria-current="page"', 'item': '  fr-sidemenu__item--active' } %}
            {% set active_btn = { 'current': ' aria-current="true"', 'item': '  fr-sidemenu__item--active' } %}
          {% else %}
            {% set active = {} %}
          {% endif %}

          {% set sublink = '<a class="fr-sidemenu__link" href="' ~ link ~ '/' ~ subrow.slug ~ '" target="_self"' ~ active.current ~ '>' ~ subrow.label ~ '</a>' %}
          {% set subitem = subitem ~ '<li class="fr-sidemenu__item' ~ active.item ~'">' ~ sublink ~ '</li>' %}
        
        {% endif %}    
      {% endfor %}
      
      {# {% set open = row.open ? 'true' : 'false' %} #}
      {% set open = 'false' %}
      {% set id = 'fr-sidemenu-item-' ~ key %}
      {% set item = '<button class="fr-sidemenu__btn" aria-controls="' ~ id ~ '" aria-expanded="' ~ open|raw ~ '"' ~ active_btn.current ~ '>' ~ row.label ~ '</button>' %}
      {% set item = item ~ '<div class="fr-collapse" id="' ~ id ~ '">' %}
      {% set item = item ~ '<ul class="fr-sidemenu__list">' %}
      
      {% set item = item ~ subitem ~ '</ul></div>' %}
      {% set menu = menu ~ '<li class="fr-sidemenu__item' ~ active_btn.item ~'">' ~ item ~ '</li>' %}

    {% endif %}
  {% endfor %}

  {# final title #}
  {% set title = title != '' ? title : 'Extended Twig functions for DSFR' %}
  
	<div class="fr-container">
		<div class="fr-grid-row">
			<div class="fr-col-12 fr-col-lg-4">

				{% set menu = '				
        <button class="fr-sidemenu__btn" hidden aria-controls="fr-sidemenu-wrapper" aria-expanded="false">
					Dans cette rubrique
				</button>
        <div class="fr-collapse" id="fr-sidemenu-wrapper">
          <div class="fr-sidemenu__title" id="fr-sidemenu-title">' ~ 'Twig Functions'|t ~'</div>
          <ul class="fr-sidemenu__list">' ~  menu  ~ '</ul>
        </div>' %}
        {% set nav = '<nav class="fr-sidemenu" aria-labelledby="fr-sidemenu-title"><div class="fr-sidemenu__inner">' ~ menu ~ '</div></nav>' %}
				{{ nav|raw }}

			</div>
			<div class="fr-col-12 fr-col-lg-8">
        <h1>{{ title }}</h1>

        {% set message = 'Requires DSFR version 1.12.1 or higher' %}

        {% if page != '' %}

          {% set doc_link = content.dsfr_url ~ c_slug %}
          {% set doc_link = '<a href="' ~ doc_link ~ '" target="_blank">official documentation' ~ c ~ '</a>' %}
          {% set dc = {
            'title': message,
            'text': '<span class="fr-icon-book-2-line fr-mr-1v"></span>See: ' ~ doc_link,
            'type': 'info',
            'close': false,
            'tra': true
          }%}
          {{ dsfr_alert(dc, ['fr-mb-8v']) }}

          {% include '@dsfr_twig_components/tutorials/doc-' ~ page ~'.html.twig' with {'data': data} %}

        {% else %}

          {% set doc_link = '<a href="' ~ content.dsfr_url ~ '" target="_blank">official documentation</a>' %}
          {% set dc = {
            'title': message,
            'text': '<span class="fr-icon-book-2-line fr-mr-1v"></span>See: ' ~ doc_link,
            'type': 'info',
            'close': false,
            'tra': true
          }%}
          {{ dsfr_alert(dc, ['fr-mb-8v']) }}  


          {% set msg = 'These extended functions are intended for child themes of the ' ~ dsfr_link({ 'text': 'DSFR theme', 'url': content.dsfr_theme, 'ext': true }) ~ ' or any other theme integrating the DSFR library. '|t %}

          <p>{{ msg|raw }}</p>
          <p>{{ 'They can also be used by modules such as '|t }} {{ dsfr_link({ 'text': 'DSFR Paragraph', 'url': content.dsfr_paragraph, 'ext': true }) }}.</p>
          <p>{{ 'The idea is to have a centralized HTML structure that can be updated, and therefore to update all the templates of themes and modules using DSFR.
'|t }}</p>

          <p>{{ 'The other advantage is that scripts can be created simply by calling up the component (a temporary component or one that requires assets, for example). 
'|t }}</p>
          <p>{{ 'Last but not least, shortcuts or tools are also available.'|t }}</p>

        {% endif %}

        {{ content.end|raw }}

        <h2 class="fr-h3 fr-mt-8v">{{ 'Available functions:'|t }}</h2>
        {{ filter_functions }}
        <div id="ajax-result" class="fr-grid-row fr-grid-row--gutters fr-mb-12v">
        {% if content.functions %}
          {% for function in content.functions %}
            <div class="fr-col-12 fr-col-lg-3">
              <a href="{{ path('dsfr_twig_components.demo') }}/{{ function.name }}" class="fr-link">{{function.name }}</a>
            </div>     
          {% endfor %}
        {% else %}
          <p>{{ 'No functions found.'|t }}</p>
        {% endif %}
        </div>

        {# <div class="fr-icon-information-line fr-pl-3v">&nbsp;{{ 'Relative content:'|t }} 
          <a href="{{ path('dsfr_twig_components.icons') }}" class="fr-link fr-icon-arrow-right-line fr-link--icon-right">{{ 'Icons list'|t }}</a> - 
          <a href="{{ path('dsfr_twig_components.pictograms') }}" class="fr-link fr-icon-arrow-right-line fr-link--icon-right">{{ 'Pictograms list'|t }}</a> 
        </div> #}

			</div>
		</div>
	</div>

{% endif %}