{#
/**
 * Available variables:
 * - content
 * - attr (attributes): array
 * 	 ==> {{ attributes.addClass(attr['class']) }}
 * - attr_str (attributes): string
 * 	 ==> {{ attr_str|raw }}
 * - config (attributes): configuration
 */
#}
<div{{ attr_str|raw }}>
	<label class="fr-label" for="{{ content.id }}">{{ content.text }}</label>
	<input class="fr-input" placeholder="{{ content.placeholder|t }}" type="search" id="{{ content.id }}" name="{{ content.id }}">
	<button class="fr-btn" title="{{ content.placeholder|t }}">{{ content.text }}</button>
</div>