{#
/**
 * Available variables:
 * - content
 * - attr (attributes): array
 * 	 ==> {{ attributes.addClass(attr['class']) }}
 * - attr_str (attributes): string
 * 	 ==> {{ attrstr|raw }}
 * - config (attributes): configuration
 */
#}
<div{{ attr_str|raw }}>
	{% if content.title != '' %}<h3 class="fr-alert__title">{{ content.title }}</h3>{% endif %}
	{% if content.text != '' %}<p>{{ content.text|raw }}</p>{% endif %}
	{% if config.close == true %}
		{% set hide = 'Hide message'|t %}
		<button class="fr-btn--close fr-btn" title="{{ hide }}" onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert)">
			{{ hide }}
		</button>
	{% endif %}
</div>