{#
/**
 * Available variables:
 * - content
 * - attr (attributes): array
 * 	 ==> {{ attributes.addClass(attr['class']) }}
 * - attr_str (attributes): string
 * 	 ==> {{ attr_str|raw }}
 * - config (attributes): configuration
 */
#}
<button{{attr_str|raw}}>{{ content.info|t }}</button>
<span class="fr-tooltip fr-placement" id="{{ content.id }}" role="tooltip" aria-hidden="true">
	{{ content.text|raw }}
</span>