{#
/**
 * Available variables:
 * - content
 * - attr (attributes): array
 * 	 ==> {{ attributes.addClass(attr['class']) }}
 * - attr_str (attributes): string
 * 	 ==> {{ attr_str|raw }}
 * - config (attributes): configuration
 */
#}
<p{{ attr_str|raw }}>{{ content.text|raw }}</p>