{#
/**
 * Available variables:
 * - content
 * - attr (attributes): array
 * 	 ==> {{ attributes.addClass(attr['class']) }}
 * - attr_str (attributes): string
 * 	 ==> {{ attr_str|raw }}
 * - config (attributes): configuration
 */
#}
{% set login 	= 'Identify with'|t %}
{% set about 	= 'What is FranceConnect?'|t %}
{% set new 		= 'New window'|t %}

<div{{ attributes }}>
	<button class="fr-connect">
		<span class="fr-connect__login">{{ login }}</span>
		<span class="fr-connect__brand">FranceConnect{{ content.plus }}</span>
	</button>
	<p>
		<a href="https://franceconnect.gouv.fr/" target="_blank" rel="noopener" title="{{ about }} - {{ new }}">
			{{ about }}
		</a>
	</p>
</div>