{#
/**
 * Available variables:
 * - content
 * - attr (attributes): array
 * 	 ==> {{ attributes.addClass(attr['class']) }}
 * - attr_str (attributes): string
 * 	 ==> {{ attr_str|raw }}
 * - config (attributes): configuration
 */
#}
<figure{{ attr_str|raw }}>
	<blockquote{% if content.cite != '' %} cite="{{ content.cite }}"{% endif %}>
		<p>« {{ content.text|raw }} »</p>
	</blockquote>
  {% if config.figcaption == true %}
    <figcaption>
      {{ content.author|raw }}{# <p class="fr-quote__author">Author</p> #}
      {% if content.details|length > 0 %}
        <ul class="fr-quote__source">
          <li><cite>{{ 'ArtWorks:'|t }}</cite></li>
          {% for detail in content.details %}<li>{{ detail.item|raw }}</li>{% endfor %}
        </ul>
      {% endif %}
      {% if content.image != '' %}
        <div class="fr-quote__image">
          <img src="{{ content.image }}" class="fr-responsive-img" alt="{{ content.alt }}"/>
        </div>
      {% endif %}
    </figcaption>
  {% endif %}
</figure>