{#
/**
 * Available variables:
 * - content
 * - attr (attributes): array
 * 	 ==> {{ attributes.addClass(attr['class']) }}
 * - attr_str (attributes): string
 * 	 ==> {{ attr_str|raw }}
 * - config (attributes): configuration
 */
#}
<div{{ attr_str|raw }}>
	<div class="fr-container">
		<div class="fr-notice__body">
			<p>
				<span class="fr-notice__title">{{ content.title }}</span>
				{% if content.text != '' %}<span class="fr-notice__desc">{{ content.text|raw }}</span>{% endif %}
				{% if content.url != '' %}{{ content.url|raw }}{% endif %}
			</p>
		{% if config.close == true %}
			{% set hide = 'Hide message'|t %}
			<button title="{{ hide }}" onclick="const notice = this.parentNode.parentNode.parentNode; notice.parentNode.removeChild(notice)" id="{{ content.id }}" class="fr-btn--close fr-btn">
				{{ hide }}
			</button>
		{% endif %}
		</div>
	</div>
</div>