{#
/**
 * Available variables:
 * - content
 * - attr (attributes): array
 * 	 ==> {{ attributes.addClass(attr['class']) }}
 * - attr_str (attributes): string
 * 	 ==> {{ attr_str|raw }}
 * - config (attributes): configuration
 */
#}

<div{{ attr_str|raw }}>
	<ul class="fr-tabs__list" role="tablist" aria-label="{{ content.group.label }}">
		{{ content.group.list|raw }}
	</ul>
	{{ content.group.panel|raw }}
</div>