{#
/**
 * Available variables:
 * - content
 * - attr (attributes): array
 * 	 ==> {{ attributes.addClass(attr['class']) }}
 * - attr_str (attributes): string
 * 	 ==> {{ attr_str|raw }}
 * - config (attributes): configuration
 */
#}
{% macro tile(content, attr_str) %}
  <div{{ attr_str|raw }}>
    <div class="fr-tile__body">
      <div class="fr-tile__content">
        <h3 class="fr-tile__title">{{ content.title|raw }}</h3>
        {% if content.text != '' %}<p class="fr-tile__desc">{{ content.text|raw }}</p>{% endif %}
        {% if content.detail != '' %}<p class="fr-tile__desc">{{ content.detail|raw }}</p>{% endif %}
      </div>
    </div>
    {% if content.pictogram != '' %}
      <div class="fr-tile__header">
        <div class="fr-tile__pictogram">
          {{ content.pictrogram }}
        </div>
      </div>
    {% endif %}
  </div>
{% endmacro %}

{% if content.one == false %}

	{{ _self.tile(content, attr_str) }}

{% else %}

<div class="fr-grid-row fr-mb-3w">
	<div class="fr-col fr-col-md-6">
		{{ _self.tile(content, attr_str) }}
	</div>
</div>

{% endif %}