{#
/**
 * Available variables:
 * - content
 * - attr (attributes): array
 * 	 ==> {{ attributes.addClass(attr['class']) }}
 * - attr_str (attributes): string
 * 	 ==> {{ attr_str|raw }}
 * - config (attributes): configuration
 */
#}
<div{{ attr_str|raw }}>
	<input type="checkbox" class="fr-toggle__input" aria-describedby="{{ content.id }}-messages" id="{{ content.id }}">
	<label class="fr-toggle__label" for="{{ content.id }}">{{ content.label }}</label>
	<div class="fr-messages-group" id="{{ content.id }}-messages" aria-live="polite"></div>
</div>