{#
/**
 * Available variables:
 * - content
 * - attr (attributes): array
 * 	 ==> {{ attributes.addClass(attr['class']) }}
 * - attr_str (attributes): string
 * 	 ==> {{ attr_str|raw }}
 * - config (attributes): configuration
 */
#}
{# <section{{ attributes.addClass(attr['class']) }}> #}
<section{{ attr_str|raw }}>
	<h3 class="fr-accordion__title">
		<button class="fr-accordion__btn" aria-expanded="false" aria-controls="{{ content.id }}">
      {{ content.title }}
    </button>
	</h3>
	<div class="fr-collapse" id="{{ content.id }}">
		{{ content.text|raw }}
	</div>
</section>