{#
/**
 * Available variables:
 * - content
 * - attr (attributes): array
 * 	 ==> {{ attributes.addClass(attr['class']) }}
 * - attr_str (attributes): string
 * 	 ==> {{ attr_str|raw }}
 * - config (attributes): configuration
 */
#}
<div{{ attr_str|raw }}>
	{% if content.title != '' %}<h3 class="fr-alert__title">{{ content.title }}</h3>{% endif %}
	<p class="fr-callout__text">{{ content.text|raw }}</p>
  {{ content.button|raw }}
</div>