{# 
/**
 * Available variables:
 * - content
 * - attr (attributes): array
 * 	 ==> {{ attributes.addClass(attr['class']) }}
 * - attr_str (attributes): string
 * 	 ==> {{ attr_str|raw }}
 * - config (attributes): configuration
 */
#}

<figure{{ attr_str|raw }}>
	<div class="fr-content-media__img">
		<img class="fr-responsive-img fr-ratio-{{ content.ratio }}" src="{{ content.src }}" alt="{{ content.alt }}" />
	</div>
	{% if content.text != '' %}
		<figcaption class="fr-content-media__caption">{{ content.text }}</figcaption>
	{% endif %}
</figure>