{#
/**
 * Available variables:
 * - content
 * - attr (attributes): array
 * 	 ==> {{ attributes.addClass(attr['class']) }}
 * - attr_str (attributes): string
 * 	 ==> {{ attr_str|raw }}
 * - config (attributes): configuration
 */
#}
<button{{ attr_str|raw }}>{{ content.text|raw }}</button>

<dialog aria-labelledby="{{ content.id }}-title" id="{{ content.id }}" class="fr-modal" role="dialog">
	<div class="fr-container fr-container--fluid fr-container-md">
		<div class="fr-grid-row fr-grid-row--center">
			<div class="{{ content.size }}">
				<div class="fr-modal__body">
					<div class="fr-modal__header">
						<button class="fr-btn--close fr-btn" aria-controls="{{ content.id }}">Fermer</button>
					</div>
					<div class="fr-modal__content">
						<h1 id="{{ content.id }}-title" class="fr-modal__title">
							<span class="fr-icon-arrow-right-line fr-icon--lg"></span>
							{{ content.title }}
						</h1>
						{{ content.body }}
					</div>
					<div class="fr-modal__footer">
            {{ content.footer }}
					</div>
				</div>
			</div>
		</div>
	</div>
</dialog>