{#
/**
 * Available variables:
 * - content
 * - attr (attributes): array
 * 	 ==> {{ attributes.addClass(attr['class']) }}
 * - attr_str (attributes): string
 * 	 ==> {{ attr_str|raw }}
 * - config (attributes): configuration
 */
#}
{% if config.type == 'link' or config.type == 'button' %}
  <a{{ attr_str|raw }}>{{ content.text|raw }}</a>
{% elseif config.type == 'text' %}
  <span{{ attr_str|raw }}>{{ content.text|raw }}</span>
{% else %} {# 'real_button', in some cases Drupal #}
  <button{{ attr_str|raw }}>{{ content.text|raw }}</button>
{% endif %}

{% if content.tooltip != '' %}
  <span class="fr-tooltip fr-placement" id="{{ content.id }}" role="tooltip" aria-hidden="true">{{ content.tooltip }}</span>
{% endif %}