{#
/**
 * Available variables:
 * - content
 * - attr (attributes): array
 * 	 ==> {{ attributes.addClass(attr['class']) }}
 * - attr_str (attributes): string
 * 	 ==> {{ attr_str|raw }}
 * - config (attributes): configuration
 */
#}
{{ attach_library('dsfr_twig_components/code') }}

<div{{ attr_str|raw }}>
  <pre class="{{ content.language }}"><code class="{{ content.language }}">{{ content.text|raw }}</code></pre>
  <button class="fr-btn copy-code-button">Copy code</button>
</div>