{#
/**
 * Available variables:
 * - content
 * - attr (attributes): array
 * 	 ==> {{ attributes.addClass(attr['class']) }}
 * - attr_str (attributes): string
 * 	 ==> {{ attr_str|raw }}
 * - config (attributes): configuration
 */
#}

{% macro card(content, attr_str) %}
	<div{{ attr_str|raw }}>
		<div class="fr-card__body">
			<div class="fr-card__content">
				<h3 class="fr-card__title">{{ content.title|raw }}</h3>
				{% if content.text != '' %}<p class="fr-card__desc">{{ content.text|raw }}</p>{% endif %}
				{% if content.start != '' %}<div class="fr-card__start">{{ content.start|raw }}</div>{% endif %}
				{% if content.end != '' %}<div class="fr-card__end">{{ content.end|raw }}</div>{% endif %}
			</div>
		</div>
		{% if content.img != '' %}
			<div class="fr-card__header">
				<div class="fr-card__img">
					<img class="fr-responsive-img" src="{{ content.img }}" alt="{{ content.alt }}">
				</div>
				{% if content.badges != '' %}{{ content.badges }}{% endif %}
			</div>
		{% endif %}
	</div>
{% endmacro %}

{% if content.one == false %}

	{{ _self.card(content, attr_str) }}

{% else %}

<div class="fr-grid-row fr-mb-3w">
	<div class="fr-col fr-col-md-6">
		{{ _self.card(content, attr_str) }}
	</div>
</div>

{% endif %}