{#
/**
 * Available variables:
 * - content
 * - attr (attributes): array
 * 	 ==> {{ attributes.addClass(attr['class']) }}
 * - attr_str (attributes): string
 * 	 ==> {{ attr_str|raw }}
 * - config (attributes): configuration
 */
#}
{% set text = content.text %}

{% if config.type == 'link' %}
  <a{{ attr_str|raw }}>{{ text|raw }}</a>
{% elseif config.type == 'button' %}
  <button{{ attr_str|raw }}>{{ text|raw }}</button>
{% else %}
  <p{{ attr_str|raw }}>{{ text|raw }}</p>
{% endif %}